body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: rgb(236, 236, 236);
  scroll-behavior: smooth;
}
/* some adds or classList */
.centerText {
  text-align: center;
}
.hidden {
  display: none;
}
.appear {
  display: block;
}
.hovering_Yellow:hover {
  color: yellow;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.hovering_LBlue:hover {
  color: rgb(177, 211, 255);
  cursor: pointer;
  transition: 0.2s ease-in;
}
.hovering_Red:hover {
  color: rgb(233, 0, 0);
  cursor: pointer;
  transition: 0.2s ease-in;
}
.woh {
  color: rgb(0, 55, 117);
  cursor: default;
}
.woh:hover {
  color: rgb(0, 55, 117);
  cursor: default;
}
/* Scroll bar styling */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #0050c7; /* #888 */
}
::-webkit-scrollbar-thumb:hover {
  background: #003f9c; /* #555 */
}
/* Header */
header {
  width: 100%;
  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 99, 230);
  display: flex;
  position: fixed;
  z-index: 9999;
}
.menuBar {
  box-sizing: border-box;
  padding-right: 30px;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.menuBar p:hover {
  color: red;
  cursor: pointer;
  transition: 0.1s ease-in;
}
/* Main Div */
.get-div {
  background: rgb(0, 99, 230);
  width: auto;
  height: auto;
  padding: 20px;
  color: white;
  justify-content: center;
}
.get-div h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 40px;
}
/* Styling icons */
.icon {
  font-size: 5em;
  color: #3a6cf4;
  display: inline-block;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  cursor: pointer;
}
.icon:hover {
  color: rgb(0, 55, 117);
  transition: 0.2s ease-in;
}
/* Topics Div */
.TopicDiv {
  box-sizing: border-box;
  width: calc((100% - 100px) / 3);
  display: inline-block;
  text-align: center;
  align-items: center;
}
.TopicDiv p {
  display: block;
  font-weight: 700;
  font-size: 3em;
  padding-left: 20px;
  color: #3a6cf4;
}
.Topic {
  color: rgb(0, 55, 117);
  padding-left: 50px;
}
/* Footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}
footer h4 {
  font-size: 18px;
  margin-bottom: 20px;
}
footer a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

footer a:hover {
  color: #c9c9c9;
}
.container {
  padding-left: 160px;
  margin: 0 auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* List , ul */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin-bottom: 10px;
}
/* loading.. */
.loading {
  display: none;
}
.circular {
  width: 5%;
  height: 5%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: rotate 1568ms linear infinite;
  transform-origin: center center;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.4s ease-in-out infinite, color 4.8s ease-in-out infinite;
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: orange;
  }

  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  99% {
    stroke: #ffa700;
  }
}
/* <svg class="circular" viewBox="25 25 50 50">
<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="6" />
</svg> */
.mobileP {
  display: none;
}
/* Media (Screen) */
@media (max-width: 770px) {
  .TopicDiv {
    width: calc((100% - 100px) / 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
  }
  .icon {
    font-size: 3em;
    padding-left: 10px;
  }
  h1 {
    font-size: 1.7em;
  }
  h3 {
    font-size: 0.9em;
  }
  .menulogo {
    font-size: 1.2em;
  }
  header p {
    font-size: 0.9em;
  }
  .container {
    padding-left: 70px;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
@media (max-width: 576px) {
  header p {
    display: none;
  }
  .mobileP {
    display: inline-block;
    padding-right: 20px;
    color: rgb(236, 236, 236);
  }
  .mobileP:hover {
    color: rgb(236, 236, 236);
  }
  nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 150px;
    z-index: 9999;
    overflow-y: auto;
    padding: 20px;
    background-color: rgba(67, 67, 67, 0.8);
  }

  nav ul {
    display: block;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: block;
    margin: 10px 0;
  }

  nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 0.5em;
  }
}
