@import url("https://fonts.googleapis.com/css2?family=Changa&family=Katibeh&family=Noto+Sans+Arabic&display=swap");

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: rgb(241, 241, 241);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

/* .get-divChildImg */
.rotate2 {
  animation: rotate2 1s ease-in-out 1;
}

.shapeDiv {
  background-size: cover;
  background-image: url(../../Fady.com/img/shapes2.jpg);
  height: 100vh;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  /* background: #002e74; */
}
.shD2 h1 {
  color: #f7f7f7;
  font-size: 2.4em;
}
.shD2 p {
  color: #f1f1f1;
  font-size: 1em;
}
.shD2 {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}
/* circular */
/* box-shadow */
.toolbar {
  position: fixed;
  right: 0;
  background-color: #f2f3ff;
  border-top: 1px solid #3538ff;
  border-left: 1px solid #3538ff;
  padding: 10px;
  height: 30%;
  animation: borderMove 1s ease-in-out forwards;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.intro {
  background: linear-gradient(
    60deg,
    #002bff,
    #63a9ff,
    #999cff,
    #b2c9ff,
    #7c87b9
  );
}
.get-divChild .newBox2 {
  position: absolute;
  top: -12px;
  right: -24px;
  padding: 8px 15px;
  border-radius: 20px;
  background: linear-gradient(
    60deg,
    #002bff,
    #63a9ff,
    #999cff,
    #b2c9ff,
    #7c87b9
  );
  color: black;
  font-size: 1rem;
  transform: rotate(30deg);
}
.view input[type="text"] {
  background: linear-gradient(
    60deg,
    #506eff,
    #4a79ff,
    #899ab9,
    #588aff,
    #6d80d7
  );
  border: 2px solid #4a16da;
  color: rgb(10, 31, 59);
  width: 90%;
}
.toolbar .toolIcon {
  transition: 0.4s ease;
  cursor: pointer;
  color: #8d8d8d;
  font-size: 20px;
}
.toolbar .toolIcon:hover {
  color: red;
}

.toolbar a {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
}
/* base-layout */
/* get-div */
.circBtn {
  width: 300px;
  font-size: 20px;
  border-radius: 30px;
  border: 1px solid rgb(78, 78, 255);
  margin: 10px;
  padding: 14px;
  cursor: pointer;
  transition: 0.4s ease;
  font-weight: 600;
  color: rgb(78, 90, 255);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.circBtn:hover {
  background-color: rgb(78, 90, 255);
  color: white;
}
/* .intro-svg */
#my-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img2 {
  width: auto;
  height: auto;
}
.flexRight {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}
.flexLeft {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

#topicSchoolDiv {
  padding: 1px 100px;
  text-align: right;
  background: #e1e1e1;
  width: 70%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

a {
  color: #0047a3;
  font: 500 "Roboto Slab", serif;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #0362df;
}
.tyWid {
  width: 500px;
  height: 300px;
}
.f-famRob {
  font-family: "Roboto Slab", serif;
}
.opa-6 {
  opacity: 0.6;
}
.tx_al {
  text-align: left;
}

.dateTxt {
  background: #c3d9ff;
  border: 1px solid blue;
  padding: 10px;
  display: inline-block;
}

.table {
  border-collapse: collapse;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: var(--fmAR);
}

th,
td {
  text-align: left;
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

th {
  background-color: #0077cc;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #cecece;
}

tr:hover {
  background-color: #cdd9ff;
  transition: 0.3s ease;
}

td:first-child,
th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

td:last-child,
th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#context-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #adadad;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 1;
  width: 160px;
  color: #797979;
}

#context-menu li {
  margin: 0;
  padding: 5px;
}

#context-menu li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333;
}

#context-menu li a:hover {
  background-color: #c0c0c0;
}

/* Scroll bar styling */
::-webkit-scrollbar {
  width: 8px;
}
/* ::-webkit-scrollbar-track {
  background: #ffffff;
} */
::-webkit-scrollbar-thumb {
  background: #888; /* #888 #0050c7*/
}
::-webkit-scrollbar-thumb:hover {
  background: #555; /* #555 #003f9c*/
}
/* Header */
header {
  width: 100%;
  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  z-index: 9999;
  transition: 0.3s ease;
}
.logoImg {
  width: 60px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  margin: 12px 10px 20px 3px;
  cursor: pointer;
}
.logo {
  display: inline-block;
  border-radius: 17%;
  background-color: #5587af;
  padding: 10px 20px 10px 19px;
  font-size: 25px;
  margin: 0 0 0 5px;
  color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.menuBar {
  box-sizing: border-box;
  padding-right: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.menuBar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3em;
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  font-family: "Roboto Slab", serif;
}
.menuBar i {
  padding: 10px;
}
.menuBar a:hover,
.menuBar a .active {
  color: #7dc5ff;
  cursor: pointer;
  transition: 0.1s ease-in;
}
/* school */
/* Main Divs */
.get-div {
  background: #00368b !important;
  width: auto;
  height: auto;
  padding: 20px;
  color: white;
  justify-content: center;
}

.ytImg {
  width: 350px;
  height: 300px;
  border: 2px #b9b9b9 dashed;
  background: #e9e9e9;
}
/* circBtn */
.wave {
  background: rgb(0, 99, 230);
  padding: 20px;
}
.get-div h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 40px;
}
.get-divChild {
  width: auto;
  height: auto;
  padding: 10px;
}
.get-divChild h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
}
.get-divChild2 {
  width: auto;
  height: auto;
  padding: 20px;
  justify-content: center;
  animation-name: slide-up;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  color: white;
}
.get-divChild2 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 40px;
}
.get-divChildImg {
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url(../../Fady.com/img/Landscape-Color.jpg);
  filter: brightness(50%);
}
.containur {
  display: inline-block;
  padding-left: 33px;
}
#createTxt {
  border-right: 3px solid;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  animation: typing 3s, cursor 0.4s step-end infinite alternate;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes cursorBg {
  50% {
    background: transparent;
  }
}
@keyframes typing {
  from {
    width: 1%;
  }
}
.signDiv {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}
.signDiv input[type="text"] {
  background: #f0f0f0;
  color: rgb(0, 68, 255);
  padding: 12px 20px 12px 40px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  display: flex;
  outline: none;
  transition: background 0.2s, border 0.2s;
  border: 1px solid #dddddd;
  font: 500 1.3rem "Roboto Slab", serif;
  box-sizing: border-box;
  background-position: 10px center;
}
.signDiv input[type="text"]:focus {
  background: #fff;
  border-color: #0056c7;
}
.signDiv input[type="password"] {
  background: #f0f0f0;
  color: rgb(0, 68, 255);
  padding: 12px 20px 12px 40px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  display: flex;
  outline: none;
  transition: background 0.2s, border 0.2s;
  border: 1px solid #dddddd;
  font: 500 1.3rem "Roboto Slab", serif;
  box-sizing: border-box;
  background-position: 10px center;
}
.signDiv input[type="password"]:focus {
  background: #fff;
  border-color: #0056c7;
}
.signDiv h1 {
  color: #0047a3;
}
.signDiv a {
  color: #0047a3;
  font: 500 1rem "Roboto Slab", serif;
  text-decoration: none;
}
.signDiv a:hover {
  text-decoration: underline;
  color: #00306e;
}
.err {
  color: red;
  font: 500 0.9rem "Roboto Slab", serif;
}
.iconInpLeft {
  position: absolute;
  font-size: 25px;
  margin: 14px 7px 0 9px;
  color: #0047a3;
}
.videoScDiv1 .newBox {
  position: absolute;
  top: -12px;
  right: -24px;
  padding: 8px 15px;
  border-radius: 20px;
  background: linear-gradient(
    60deg,
    #002bff,
    #63a9ff,
    #999cff,
    #b2c9ff,
    #7c87b9
  );
  color: black;
  font-size: 1rem;
  transform: rotate(30deg);
}
.base-layout {
  background-color: #f2f2f2;
  padding-bottom: 0px;
  min-height: calc(79vh - 250px);
}
.base-layout .get-divHeader {
  padding: 30px 20px;
  position: relative;
}
.base-layout .get-divHeader h1,
h3 {
  position: relative;
  font-weight: bold;
  line-height: 1.6;
}
/* logo */
.base-layout .get-divHeader::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #002e74;
}
.box {
  animation: zoom-in 1s ease-in-out forwards;
  animation-delay: 1s;
}
.img-div {
  background-image: url(https://kinsta.com/wp-content/uploads/2021/11/learn-html.png);
  background-repeat: no-repeat;
  /* background-position: right center; */
  /* border-radius: 26px; */
  background-size: cover;
  padding: 20px;
}
.bottom-corner-right {
  background: #1c1c1c;
  width: 150px;
  height: 350px;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

/* .get-divChild:nth-child(2) {
  background-color: rgb(236, 236, 236);
}
.get-divChild:nth-child(3) {
  background-color: #d8d8d8;
  color: #434343;
} */

/* Styling icons */
.icon {
  font-size: 5em;
  color: #cdcdcd;
  display: inline-block;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  cursor: pointer;
}
.icon:hover {
  color: rgb(0, 55, 117);
  transition: 0.2s ease-in;
}
/* Topics Div */
.TopicDiv {
  box-sizing: border-box;
  width: calc((100% - 100px) / 3);
  display: inline-block;
  text-align: center;
  align-items: center;
}
.TopicDiv p {
  display: block;
  font-weight: 700;
  font-size: 3em;
  padding-left: 20px;
  color: #3a6cf4;
}
.Topic {
  color: rgb(0, 55, 117);
  padding-left: 50px;
}
/* Footer */
footer {
  background-color: #100056;
  color: #fff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}
.row {
  display: flex;
  justify-content: space-around;
}
footer h4 {
  font-size: 20px !important;
  margin-bottom: 20px;
}
footer a {
  color: #fff;
  text-decoration: none;
  transition: all 0.1s ease;
  font-size: 16px;
}

footer a:hover {
  color: #c9c9c9;
}

#reComTxt a {
  color: #cfcfcf;
  line-height: 1.6;
  padding: 4px;
}
/* Form */
.btn {
  background: rgb(0 102 255);
  padding: 10px;
  color: white;
  border: 1px solid #f1f1f1;
  font-size: 1em;
  border-radius: 6px;
  right: 20px;
  position: fixed;
  bottom: 20px;
  display: none;
  cursor: pointer;
}
/* cursor */
.btn:hover {
  background: rgb(0, 68, 255);
  transition: 0.2s ease-in;
}
.buttonB {
  background-color: #183153;
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s ease;
  width: 100%;
}
/* a */
.buttonB:hover {
  opacity: 1;
  background-color: #1f406e;
}

.active2 {
  opacity: 1;
  background-color: #1f406e;
  border-bottom: none;
  border: 1px solid;
}

.header-button {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.header-button:hover {
  background-color: #0056b3;
}

.videoScDiv1 {
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 50vh;
  padding: 20px;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.videoScDiv1 img {
  display: block;
  width: 50vh;
  border-radius: 10px;
  filter: brightness(50%);
}

.banner {
  position: relative;
  margin: 0 auto;
}
/* 145 */
.tool {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
  z-index: 9999;
  overflow-y: auto;
  padding: 20px;
  background-color: rgb(63, 58, 58);
}
.tool h1 {
  display: block;
  margin: 10px 0;
  text-align: center;
  color: blue;
  font-size: 18px;
}
/* .banner p {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font: 600 2rem "Changa", sans-serif;
  color: #fff;
  margin: -20px 0px 0px 0px;
} */
.heading {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font: 600 1.8rem "Changa", sans-serif;
  color: #fff;
  margin: -56px 0px 0px 0px;
}
.textOfHeadingImg {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font: 600 1.1rem "Changa", sans-serif;
  color: #fff;
  margin: 10px 0 0 0;
}
.videoScDiv1 h1 {
  color: #003b88;
  font: 600 1.5rem arial;
}

.buttonBl {
  background-color: rgb(0, 81, 255);
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  width: 100%;
}
/* path */
.buttonBl:hover {
  background-color: rgb(0, 74, 233);
}

.buttonG {
  background-color: #4caf50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 18px 20px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Font size */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Cursor on hover */
  border-radius: 4px; /* Rounded corners */
  width: auto;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}
/* btn */
.buttonG:hover {
  background-color: #3e8e41; /* Darker green background on hover */
}
/* passToLogin */
.buttonD {
  background-color: #ee0000; /* Green background */
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 16px;
}
.buttonD:hover {
  background-color: #c90000; /* Darker green background on hover */
}
.formToAdd {
  padding: 10px;
}

input[type="text"] {
  background: #f0f0f0;
  color: rgb(0, 68, 255);
  padding: 15px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  display: block;
  outline: none;
  transition: background 0.2s, border 0.2s;
  border: 1px solid #dddddd;
  font: 500 1.3rem "Roboto Slab", serif;
}

input[type="text"]:focus {
  background: #fff;
  border-color: #0056c7;
}

input[type="password"] {
  background: #f0f0f0;
  color: rgb(0, 68, 255);
  padding: 15px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  display: block;
  outline: none;
  transition: background 0.2s, border 0.2s;
  border: 1px solid #dddddd;
  font: 500 1.3rem "Roboto Slab", serif;
}

input[type="password"]:focus {
  background: #fff;
  border-color: #0056c7;
}

.passInputNoteP {
  color: rgb(0, 68, 255);
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 600;
}

textarea {
  border: 1px solid #ccc;
  padding: 20px 0px 20px 12px;
  font-size: 22px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #dfdfdf;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  resize: vertical; /* allow the user to resize vertically */
  font-weight: 600;
  width: 97%;
  height: 30vh;
  display: inline-flex;
  outline: none;
  margin-left: 8px;
  margin-top: 0;
}

.areaWriter {
  box-shadow: 0 0 0px;
  resize: none;
  border: none;
  margin-left: 0px;
  width: 99.8%;
  padding: 20px 0px 0px 12px;
  font-size: 1.5rem;
  font-family: monospace;
}

.areaWriter::-webkit-scrollbar {
  width: 0px;
}

.areaWriterMain {
  box-shadow: 0 0 0px;
  resize: none;
  border: none;
  margin-left: 0px;
  width: 99.8%;
  padding: 0px 0px 25px 12px;
  font-size: 1.5rem;
  font-family: monospace;
  height: 45vh;
}

.userSchoolDiv {
  border-bottom: 1px solid black;
  padding: 10px;
  background-color: rgb(216, 216, 216);
  cursor: pointer;
  transition: 0.1s ease-out;
}

.userSchoolDiv h1 {
  font-size: 1.4rem;
}

.userSchoolDivMain {
  border-bottom: 1px solid black;
  padding: 10px;
  background-color: rgb(216, 216, 216);
  cursor: pointer;
}

.userSchoolDivMain h1 {
  font-size: 1.5rem;
}

.userSchoolDiv:hover {
  background-color: rgb(206, 206, 206);
}

.userSchoolDivMain:hover {
  background-color: rgb(206, 206, 206);
}

.passToClear {
  background: #ff00001e;
  padding: 14px;
  display: none;
}

.passToLogin {
  background: #163d85;
  padding: 26px;
  margin-top: 40px;
  animation-name: fade-in;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
}

.container {
  margin: 0 auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.infoTxt {
  background: rgb(0, 108, 197);
  font-weight: bolder;
  padding: 8px;
  color: whitesmoke;
  font-size: 1.1em;
  border-radius: 4px;
}

.h1WriterDiv {
  width: 99%;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: Arial, Helvetica, sans-serif;
}

.modal h2 {
  /* background-color: #f1f1f1; */
  padding: 10px;
  text-align: center;
  margin-bottom: 50px;
}

.modal p {
  font-weight: 600;
  font-size: 1.2em;
}
/* btn */
.modal-content {
  background-color: #e0e8ff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.circles {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* height: 100vh; */
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  border: 1px solid black;
  transition: background-color 0.3s ease;
  opacity: 0.5;
}
.active {
  opacity: 1;
  border: 1px solid black;
  transform: scale(1.1);
}
.circle:hover {
  opacity: 1;
  cursor: pointer;
}
/* List , ul */
ul {
  margin: 10px;
  padding-left: 20px;
}
ul li {
  margin-bottom: 10px;
}
/* loading.. */
.loading {
  display: none;
}
.circular {
  width: 10%;
  height: 10%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: rotate 1568ms linear infinite;
  transform-origin: center center;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.4s ease-in-out infinite, color 4.8s ease-in-out infinite;
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: orange;
  }

  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  99% {
    stroke: #ffa700;
  }
}

.mobileP {
  display: none;
}

.avatarS {
  display: flex;
  align-items: center;
}

.avatarS img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
}

.avatarP {
  display: flex;
  align-items: center;
}

.avatarP img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
}
/* view */
.username {
  font-size: 2em;
  font-weight: bold;
  color: white;
}
.underline2 {
  background-color: #1a61be;
  color: white;
  padding: 10px;
  text-decoration: none;
}

/* Animations */
@keyframes slidein {
  from {
    left: -100px;
  }
  to {
    left: 0;
  }
}
@keyframes slideOut {
  from {
    right: -100px;
  }
  to {
    right: 0;
  }
}
@keyframes borderMove {
  0% {
    transform: translate(-5px, -5px);
  }
  50% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(-5px, -5px);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0% {
    border-color: red;
  }
  50% {
    border-color: blue;
  }
  100% {
    border-color: green;
  }
}
@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes margin {
  0% {
    margin-top: -100px;
  }
  50% {
    margin-top: -200px;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slide-up {
  0% {
    transform: translateX(0);
  }
  10% {
    background-color: rgb(0, 99, 230);
  }
  20% {
    background-color: rgba(0, 99, 230, 0.8);
  }
  30% {
    background-color: rgba(0, 99, 230, 0.7);
  }
  40% {
    background-color: rgba(0, 99, 230, 0.6);
  }
  50% {
    background-color: rgba(0, 99, 230, 0.5);
  }
  60% {
    background-color: rgba(0, 99, 230, 0.4);
  }
  100% {
    transform: translateX(100%);
  }
}
