body {
  margin: 0;
  background-color: white;
  background-image: none !important;
}

* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Rubik:ital,wght@0,400;0,600;1,400&display=swap");

.back {
  font-size: 26px;
  color: #434343;
  cursor: pointer;
  border: none;
  background: transparent !important ;
}

.save-button {
  background-color: #0088ff;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border: 1px solid black;
}

.save-button:hover {
  background-color: #0077ee;
  box-shadow: 0 0 3px 1px #0077ee;
}

.save-button:active {
  transform: scale(0.9);
}

.flex-head {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(45deg, #edfcff6e, #faffcc29);
  box-shadow: 0 0 15px 10px #ddd;
  flex-basis: 100%;
}

.flex-head div {
  margin: 10px;
  font-size: 26px;
  font-weight: bold;
}

.pd0 {
  padding: 0 !important;
}

.root {
  width: 65%;
  background-color: #eeeeee;
  padding: 10px;
  margin: 20px auto;
  box-shadow: 0 0px 20px 10px #dddddd;
  position: relative;
}

.purpBtn::after {
  content: "New";
  position: absolute;
  top: -10px;
  right: -20px;
  transform: rotate(45deg);
  padding: 8px;
  border-radius: 10px;
  font-size: 16px;
  background: #0061f3e1;
  color: white;
  z-index: 99;
}

.fl {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
}

.fl .wave-group {
  margin-bottom: 10px;
  margin-top: 20px;
}

.fl .inp {
  padding: 10px;
  flex-direction: column;
  width: 100%;
  font-size: 22px;
  border: 2px solid #dddddd;
  color: #434343;
  outline: none;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f3f3;
  transition: 0.2s ease-in;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.wd95 {
  width: 95% !important;
}

.r h3 {
  position: relative;
  margin-top: 20px;
}

.fl .r h3::after {
  margin-left: 10px;
  content: "\2a";
  position: absolute;
  font-size: 20px;
  color: red;
}

.fl .inp:hover {
  border: 3px solid #dddddd;
}

.fl .inp:focus {
  border: 1px solid #003f9c;
  color: #003f9c;
  box-shadow: 0 0px 25px 10px #dddddd;
}

.fl h3 a {
  text-decoration: none;
  color: #003f9c;
  transition: 0.3s;
}
.fl h3 a:hover {
  color: #0061f3;
}

p[class^="introP"] {
  font-size: 26px;
  font-weight: bold;
  border: 1px solid blue;
  padding: 10px;
  color: white;
  background: linear-gradient(to right, #003f9c, #370075);
  margin: 0;
  width: 100%;
}

.errMsg {
  color: red;
  border: 1px solid red;
  padding: 6px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 6px;
  position: sticky;
  top: 0;
  z-index: 355;
}

.input-container {
  position: relative;
}

.inp {
  padding-left: 40px; /* Adjust the value to set the left spacing for the icon */
}

.iconIs {
  position: absolute;
  top: 50%;
  right: 6px; /* Adjust the value to set the left position for the icon */
  transform: translate(-50%, -50%);
  color: #003f9c; /* Adjust the color of the icon */
  font-size: 26px;
}

.g-signin2 {
  display: inline-block;
  background-color: #4285f4;
  color: #fff;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.fade-in {
  animation: fade-in 0.8s ease;
}

.fade-out {
  animation: fade-out 0.3s ease;
}

.pointerEv {
  pointer-events: none;
}

.root.overflow {
  width: auto !important;
  margin: 10px;
  border: 1px solid #919191;
  overflow: auto;
  max-height: 600px;
  scroll-behavior: smooth;
  position: relative;
  background: transparent;
}

.root.overflow header {
  padding: 10px;
  background: linear-gradient(
    to right,
    #fff7eab8,
    rgba(255, 240, 240, 0.541),
    #f0ebffad
  );
  transition: 0.6s;
  width: 100%;
  transition: 0.6s ease;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.root.overflow header h2 {
  padding: 5px;
  max-width: 200px;
  max-height: 60px;
  overflow: hidden;
  color: #0061cf;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.3em;
}

.toolbar {
  padding: 10px;
  height: 597px;
  background: linear-gradient(to bottom, #fff7eab8, whitesmoke, #dee4ffad);
  overflow: hidden;
  transition: 0.6s;
  position: sticky;
  top: 0px;
  flex-shrink: 0;
  width: 75px;
  transition: 0.2s ease;
  z-index: 10;
  border-right: 1px solid #ddd;
}

.toolbar:hover {
  width: 200px;
}

.root .toolbar ul {
  width: 100%;
  padding: 0;
  height: 100%;
  overflow: hidden;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 95%;
  position: sticky;
  top: 0;
}
.root .toolbar li {
  cursor: pointer;
  color: #0080b3;
  font-size: 1em;
  margin: 5px;
  padding: 12px;
  border-radius: 6px;
  overflow: hidden;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  display: flex;
  gap: 25px;
  align-items: center;
  transition: background-position 0.7s ease;
}

.root .toolbar li svg {
  font-size: 1.4em;
}

.root .toolbar li:hover {
  background-image: linear-gradient(to right, #ff7f50, #6495ed);
  background-size: 200% 100%;
  background-position: -100% 0;
  box-shadow: 0 0 10px 0px #ddd;
  color: white;
}

.root .toolbar li:active {
  transform: scale(0.9);
}

.deleteAll {
  position: absolute;
  bottom: 10px;
  width: 90%;
  color: red !important;
  transition: 0.3s !important;
}

.deleteAll:hover {
  background: rgb(185, 0, 0) !important;
  color: white !important;
}

.qForm {
  background: linear-gradient(
    to top left,
    #d2c0ff4f,
    white,
    #fdffe269
  ) !important;
}

.qForm input[type="text"] {
  padding: 6px;
  flex-direction: column;
  width: 100%;
  font-size: 1.2em;
  border: none;
  border-bottom: 3px solid #dddddd;
  color: #003f9c;
  outline: none;
  font-family: "Roboto", sans-serif;
  transition: 0.2s ease-in;
  border-radius: 2px;
  font-weight: 500;
  background: transparent;
}

.qForm input[type="text"]:focus {
  border: 1px solid #003f9c;
  color: #003f9c;
  box-shadow: 0 0px 25px 10px #dddddd;
}

.introCreate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to left, #ffe9e0, #e6efff);
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}

.introCreate::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    to top right,
    #ececec81,
    rgba(255, 255, 255, 0.781),
    #fafafa94
  );
  top: 0;
  left: 0;
  width: 50px;
  height: 99%;
  z-index: 33;
  opacity: 0.2;
  display: flex;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  color: white;
  font-size: 2em;
  animation: moveRight 1.8s ease-in infinite;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(600%);
  }
}

.introCreate h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #505050;
  font-size: 1.5em;
}

.introCreate p {
  color: #9c9c9c;
  font-family: bold;
  font-size: 1em;
  margin-top: 10px;
}

.createQ {
  background: linear-gradient(45deg, #dde6ffc4, white, #f9f9f4db, #e0e3f170);
  border-radius: 6px;
  box-shadow: 0 0 10px 1px #ddd;
  position: relative;
  margin-bottom: 30px;
  counter-increment: name;
  user-select: none;
}

.createQ::before {
  content: counter(name);
  position: absolute;
  top: 50px;
  right: 15px;
  font-size: 1.3em;
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  color: #003f9c;
}

.createQ svg {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: red;
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.3s;
}

.createQ svg:hover {
  color: rgb(202, 0, 0);
}

.createQ .anArea input[type="text"] {
  width: 70%;
  font-size: 1em;
  margin: 10px;
  border: none;
  color: #434343;
}

.createQ .anArea input[type="text"]:focus {
  border: 1px solid;
  color: #003f9c;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@media (max-width: 927px) {
  .root {
    width: 96%;
  }
  .root.overflow {
    width: 99% !important;
    border: none !important;
    margin: 0 !important;
    margin-top: 20px !important;
  }
}

@media (max-width: 734px) {
  .fl {
    flex-direction: column;
  }
  input[name="flink"] {
    font-size: 14px;
  }
  .toolbar {
    width: 20%;
  }
  .toolbar:hover {
    width: 20% !important;
  }
}
